<div class="toolbar container-fluid" role="banner">
  <a href="https://shopify.ca">
    <img
    width="150"
    alt="Shopify Logo"
    src="../assets/shopify_logo_darkbg.svg"
  />
  </a>

  <div class="title">Shoppie Nominations</div>
  <div class="spacer"></div>
</div>

<div class="site-box">
  <div></div>
  <div class="content">

    <div *ngIf="displayBanner" class="alert alert-success alert-dismissible fade show" role="alert">
      Great choices! Feel free to navigate away and come back, your picks will be saved!
      <button type="button" class="btn-close" aria-label="Close" (click)="onCloseBanner()"></button>
    </div>

    <div class="search-and-nominations">
      <app-search class="search"></app-search>
      <div class="nominees">
        <app-nominees class="nominees"></app-nominees>
      </div>
    </div>


  </div>
  <div></div>
</div>
